<div class="row">
  <h2>Presentations</h2>
  <ul class="list-group">
    <li class="list-group-item"
        *ngFor="let presentation of presentations"
        (click)="selectPresentation(presentation)"
        [class.active]="presentation === selectedPresentation">
      {{presentation.title}}
    </li>
  </ul>
  <button class="btn btn-warning" (click)="createNewPresentation()">New</button>

</div>

<div class="row">
  <presentation-details [presentation]="selectedPresentation">
  </presentation-details>
</div>
