<div class="row">
  <div class="col-md-5">
    <h2>Contacts</h2>
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let presentation of presentations"
          (click)="selectPresentation(presentation)"
          [class.active]="presentation === selectedPresentation">
        {{presentation.title}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewPresentation()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <presentation-details [presentation]="selectedPresentation">
    </presentation-details>
  </div>
</div>
